@page "/"
@page "/Home"

<PageTitle>Index</PageTitle>

<div class="flex-col g8">
    <h1>Hello, world!</h1>
    <p class="mb1">Welcome to your new app.</p>

    <Presenter Width="100%" Height="calc(100dvh - 175px)">
        <PresenterItems>
            <PresenterItem ImageUrl="https://images.unsplash.com/photo-1742146656179-82df141c23e9?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            <PresenterItem ImageUrl="https://images.unsplash.com/photo-1742412615505-b17322a1a598?q=80&w=2938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            <PresenterItem ImageUrl="https://plus.unsplash.com/premium_photo-1684952849219-5a0d76012ed2?q=80&w=3132&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            <PresenterItem ImageUrl="https://images.unsplash.com/photo-1742412615574-ce65e63598d8?q=80&w=2938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
        </PresenterItems>
    </Presenter>
</div>
